* {text-align: center;}
#TITULO{text-shadow: 3px 3px rgb(167, 0, 0); line-height: 1; text-align: center; font-size: 150px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.letraSans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{color:goldenrod;}
img{width: 55%;}
#FNAF{
    color: red;
    text-decoration: underline;
}
p{
   padding-left: 10%; padding-right: 10%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Luc margin: 0; ida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{line-height: 1; font-size: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body {
    background-color: lightblue;
  }
a{font-size: 20px; text-decoration: none; color:black}
h2{line-height: 1;}
#rodrigo{text-shadow: 1px 1px green; color:darkolivegreen; font-size: 50px; line-height: 1;}
.metacritic{background-color: rgb(63, 226, 76); padding-top: 20px; padding-bottom: 20px; text-align: center;}
a:hover{
    color: blue;
}
#FIREWATCH{color: goldenrod; text-shadow: 2px 2px rgb(98, 33, 0);}
#INSCRYPTION{color: black; text-shadow: 2px 2px yellow;}
#TheStanleyParable{color: rgb(255, 255, 255); text-shadow: 2px 2px black;}
#roboquest{color: yellow; text-shadow: 0px 0px 10px darkcyan;}
#UNDERTALELETRA{color: rgb(255, 0, 0); text-shadow: 0px 0px 5px red;}

.gif{
    
    width: 30%;
    
}
#gif1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gif2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#INDICE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    line-height: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#gif3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#gif4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}